<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.studysync.backend.domain.groups.dao.GroupsDAO">

  	<insert id="insertGroup" parameterType="com.studysync.backend.domain.groups.model.Groups">
  		insert into `groups`(group_name, content, tag, create_user, is_private, password)
  		values(#{groupName}, #{content}, #{tag}, #{createUser}, #{isPrivate}, #{password})
  	</insert>
  	
  	<select id="selectAllGroups" resultType="com.studysync.backend.domain.groups.model.Groups">
  		select * from `groups`
  	</select>
  	
  </mapper>