.react-calendar {
  width: 100%;
  background-color: var(--bg-color);
  border: none;
}

.react-calendar__navigation button {
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
}

.react-calendar__tile {
  color: var(--calendar-text);
  height: 90px;
}

.react-calendar__tile--active {
  background: var(--calendar-active) !important;
  color: var(--calendar-color);
}

.react-calendar button:enabled:hover {
  background: var(--calendar-active);
}

.calendar-color0 {
  background-color: #3d2c2c !important;
  color: #fff;
}
.calendar-color1 {
  background-color: #744234 !important;
  color: #fff;
}
.calendar-color2 {
  background-color: #a04e1f !important;
  color: #fff;
}
.calendar-color3 {
  background-color: #c46315 !important;
  color: #fff;
}
.calendar-color4 {
  background-color: #f57c00 !important;
  color: #fff;
}
.ranking-box {
  padding: 20px 0;
}