<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studysync.backend.domain.studytime.dao.StudyTimeDAO">
	<insert id="upsertStudyTime" parameterType="com.studysync.backend.domain.studytime.model.StudyTime">
		insert into study_time (user_id, date, seconds, created_at)
		values (#{userId}, #{date}, #{seconds}, NOW())
		on duplicate key update
			seconds = #{seconds},
			created_at = NOW()
	</insert>
	<select id="getLatestStudyTimeByUserAndDate" resultType="com.studysync.backend.domain.studytime.model.StudyTime">
		select * 
		from study_time 
		where user_id = #{userId} 
			and date = #{date} 
		order by id desc limit 1;
	</select>
	<select id="getStudyRanking" resultType="com.studysync.backend.dto.StudyRankDto">
		select
			u.nickname,
			st.seconds as studyTime
		from group_members gm
		join users u on gm.user_id = u.id
		join study_time st on st.user_id = gm.user_id
		where gm.group_id = #{groupId}
			and st.date = #{date}
		order by st.seconds desc
	</select>
	<select id="getMaxStudyTimeByDateInGroup">
		select
			st.date as date,
			max(seconds) as max_seconds
		from study_time st
		inner join group_members gm on st.user_id = gm.user_id
		where gm.group_id = #{groupId}
		group by st.date
	</select>
	<select id="getMyStudyTimes">
		select
			date, seconds
		from study_time
		where user_id = #{userId}
	</select>
</mapper>