<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studysync.backend.domain.users.dao.UsersDAO">
	<insert id="insertUser" parameterType="com.studysync.backend.domain.users.model.Users">
		insert into users(id, pw, nickname, email)
		values(#{id}, #{pw}, #{nickname}, #{email})
	</insert>
	<select id="findByIdAndPassword" resultType="com.studysync.backend.domain.users.model.Users">
		select * from users where id = #{id} and pw = #{pw}
	</select>
	
</mapper>