<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.studysync.backend.domain.groupscrap.dao.GroupScrapDAO">
  	<insert id="addScrap">
  		insert into group_scrap (user_id, group_id)
  		values (#{userId}, #{groupId})
  	</insert>
  	<delete id="deleteScrap">
  		delete from group_scrap where user_id = #{userId} and group_id = #{groupId}
  	</delete>
  	<select id="selectScrapIds">
  		select group_id from group_scrap where user_id = #{user_id}
  	</select>
  	<select id="selectScrapList">
  		select g.* 
  		from group_scrap gs 
  		left join `groups` g on gs.group_id = g.id 
  		where gs.user_id = #{userId}
  	</select>
  </mapper>