.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--timer-bg);
    margin: 3rem auto;
    padding: 3rem 0;
    border-radius: 10px;
    max-width: 900px;
    width: 80%;
}

.date {
    font-size: 1.2rem;
    color: var(--date-color);
    margin: 0 2rem;
}

.time {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0 20px;
    color: var(--text-color);
}

.timer button {
    width: 35%;
    height: 40px;
    padding: 6px 12px;
    margin: 0 0.2rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.timer button:hover {
  filter: brightness(90%);
}


