.App {
  min-height: 100vh;
}

.dark {
  background-color: #1c1c1e;
  color: white;
}

.light {
  background-color: #fff;
  color: #1c1c1e;
}

#custom-switch {
  background-color: #1c1c1e;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e");
  border: 1px solid #fff;
  box-shadow: none;
}

#custom-switch:checked {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e");
  border: 1px solid #bfbfbf;
}
