:root {
  --bg-color: #ffffff;
  --text-color: #1c1c1e;
  --button-bg: #ef6c00;
  --button-text: #ffffff;
  --date-color: #666;
  --nav-hover: #000;
  --timer-bg: #f0f0f0;
  --input-border: #efefef;
  --outline: #dadce0;
  --tag-bg: #ffffff;
  --info-color: #666;
}

.dark {
  --bg-color: #1c1c1e;
  --text-color: #f1f1f1;
  --button-bg: #ef6c00;
  --button-text: #1c1c1e;
  --date-color: #aaa;
  --nav-hover: #f1f1f1;
  --timer-bg: #292b2f;
  --input-border: #efefef;
  --outline: #35393d;
  --tag-bg: #41444b;
  --info-color: #9d9d9d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Pretendard', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
